@charset "utf-8";
body {
    background-color: rgb(20, 130, 80);
    font-size: 150%;
}
h1{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif
}
p.blanca {
    font-style: italic;
    color: white;
}
p.clara {
    color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
}
p.naranja {
    color: orange;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
p.rojo {
    color: red;
    font-family: cursive;
}